body{
	margin:20px;
}
#slide{

	height:500px;

}
#para{
	margin-top: 20px;
	margin-left : 200px;
	margin-right: 175px;
	background-color: orange;
	border-radius: 5px;
	padding: 10px;
}
p
{
	color:white;
	font-size: 25px;
}
footer{
	margin-top:10px;
	margin-left:200px;
	margin-right:175px;
	background-color: orange;
	padding-top: 20px;
	padding-left : 30px;
	height: 40px;
	border-radius: 5px;
}
a{
	text-decoration-line: none;
	color: white;
	padding: 20px;
	font-size: 25px;

}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
position: relative;
width: 500%;
margin:0;
text-align: left;
font-size: 0;
animation: 15s slidy infinite; 
}

